{% extends 'events/base.html' %}

{% load bootstrap3 %}

{% block title %}
    {{ event.title }}
{% endblock %}

{% block content %}

<div class="row" style="margin-bottom: 10px">
    <p class="col-md-10"><b>{{ event.start_date|date:"D. d N Y H:i" }} to {{ event.end_date|date:"D. d N Y H:i" }}</b></p>

{% if event.map_url %}
    <a class="col-md-2" style="text-align: right" href= {{event.map_url}} ><button class="btn btn-success">Location</button></a>

{% endif %}
</div>

<div class="well">
    <p>{{ event.description }}</p>
    <p>Category: {{ event.get_category_display }}</p>
    <p>Likes: {{ event.likes }} </p>
</div>

{% endblock %}