<!DOCTYPE html>
<html>
	<head>
		<title>Titlu</title>
		<link rel="stylesheet" href="styles.css">
	</head>
	<body>
	<div>
	<h1 id="cap">
		<a id="titlu" href="index.html">Titlu</a>
		<a href="search3.html" id="cautare">Cauta</a> 
	</h1>
	<hr color="#006400" width="90%" size="10px">
	</div>
	<br>
	<div>
	<div class="news">
		<h2>titlu eveniment1</h2>
		<p>Continut eveniment </p>
	</div>
	
	<div class="news">
		<h2>titlu eveniment2</h2>
		<p>Continut eveniment </p>
	</div>
	<div class="news">
		<h2>titlu eveniment3</h2>
		<p>Continut eveniment</p>
	</div>
	<div class="news">
		<h2>titlu eveniment4</h2>
		<p>Continut eveniment </p>
	</div>
	<div class="news">
		<h2>titlu eveniment5</h2>
		<p>Continut eveniment</p>
	</div>
	</div>
	</body>
</html>
	