{% extends 'events/base.html' %}

{% load bootstrap3 %}

{% block title %}
    EvRo - Event Rounder
{% endblock %}

{% block content %}

<html>
    <head>
        <title>Titlu</title>
        
    </head>
    <body>
    {% if list_type == "popular" %} 
        <h2> Cele mai populare  evenimente (click aici pt <a href="{% url 'events:index' %}?upcoming">recente</a>)</h2>
    {% elif list_type == "upcoming" %}
        <h2> Cele mai recente  evenimente (click aici pt <a href="{% url 'events:index' %}">populare</a>)</h2>
    {% endif %}

    <div class="container"><div class="row">
    {% for event in event_list %}
        <div class="col-md-4">
            <a href="{% url 'events:detail' event.id %}"><h2>{{ event.title }}</h2></a>
            <p>{{ event.description }}</p>
        </div>
    {% endfor %}
    </div></div>
    </body>
</html>

{% endblock %}