{% extends 'events/base.html' %}

{% load bootstrap3 %}

{% block title %}
    Cautare eveniment
{% endblock %}

{% block content %}
<div class="row">
    <form class="col-md-3" role="form" method="get">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons submit='Submit' reset="Cancel" %}{% endbuttons %}
    </form>

    <div class="container">
    <div class="col-md-8">
    {% if event_list|length != 0 %}
    {% for event in event_list %}
        <div class="well">
            <a href="{% url 'events:detail' event.id %}"><h2>{{ event.title }}</h2></a>
            <p>{{ event.description|truncatechars:100 }}</p>
        </div>
    {% endfor %}
    {% elif event_list|length == 0 %}
        <div class="col-md-4"><h2>No events match!</h2></div>
    {% endif %}
    </div>
    </div>
<div>
{% endblock %}